p {
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    color: red;
    width: 500px;
    border: 1px solid black;
}

.block,
li,h1 {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  border: 2px solid blue;
  padding: .5em;
}

.dumbass {
    color: blue;
}

img[src] {
    color: green;
}
